.home-header {
  height: 70vh;
  background-image: url("https://storage.googleapis.com/hz_bucket/candle.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-header-box {
  color: #e9ecef;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(86, 85, 87, 0.5);
  width: 80%;
  border-radius: 10px;
  margin-bottom: 1em;
}
.home-header-text {
  width: 80%;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(121, 67, 23);
  color: antiquewhite;
  text-align: center;
  justify-content: center;
}
.row {
  width: 100%;
  margin: auto 0em auto 0em;
  padding: auto 0em auto 0em;
  overflow: hidden;
}

.roll-bar {
  width: 100%;
  max-width: auto;
  height: 30px;
}

.Maquee-link {
  font-size: 18px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 450px) {
  .home-header {
    width: auto;
    height: auto;
  }

  .home-header-box {
    display: flexbox;
    max-width: inherit;
    margin: auto 0em auto 0em;
  }
  .home-header-title {
    font-size: 28px;
  }
  .home-header-text {
    font-size: 15px;
  }

  .header-scripture {
    font-size: 10px;
  }

  .roll-bar {
    margin: auto 0em auto 0em;
    padding: auto 0em auto 0em;
    max-width: auto;
  }
  .row {
    margin: auto 0em auto 0em;
    padding: auto 0em auto 0em;
  }
}
